@charset "UTF-8";

@import url("../plugins/fontawesome-free/css/all.min.css");
@import url("../plugins/ionicons/css/ionicons.min.css");
@import url("../plugins/feather/feather.css");

@import url("../plugins/line-awesome/css/line-awesome.css");
@import url("../plugins/simple-line-icons/simple-line-icons.css");
@import url("../plugins/boxicons/css/boxicons.css");
